body {
    background-color: white;
}
.cointener {
    background-color: #318ecc;
    color: white;
    margin: 20px;
    padding: 50px;
    font-family: "Open Sans", sans-serif;
}
p { font-size: 100px;}
h4 {font-size: 20px;}
h6 {font-size: 15px;
}
hr {
    border: 2px; background:white; height: 1px;
}
table {
    border-spacing: 0px 30px ;
    width: 100%;
   td{
    border-bottom:white solid 1px;
   }
}

a{
    font-family: "Open Sans", sans-serif;
    color: white;
    float: right;
    padding: 5px;
    text-decoration: none;
}
i{
    padding: 5px;
}
