body{
    font-family: "Open Sans", sans-serif;
}
img {
width: auto;
height: 150px;
}
h4 {
    font-size: 24px;
    color:  #3a7e38;
    font-weight: 550;
}
p{
    font-weight: 550;
}
.container{
    display: inline-flex;
}
section{
    margin: 50px;
}
@media only screen and (max-width: 748px) {
        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            }
            .one{
    
                grid-column:1/6;
                grid-row: 1;
            }
          .two {
              grid-column:6/12;
            grid-row: 1;
          }
          .three{
              grid-column:1/6;
              grid-row: 2;
        }
        .four{
            grid-column:6/12;
            grid-row: 2;
        }
    }
    @media only screen and (max-width: 640px) {
        .container {
            display: table-column;
        }
    }
        